* {
	margin: 0;
	padding: 0;
	border-style: box-border;
	font-family: 'Kanit', sans-serif;
	color: white;

}

body {
	background-color: #372549;
	height: 100vh;
	width: 100vw;
}

.nav {
	margin-bottom: 0; 
}

.dropdown { 
	position: static;
}

.dropdown-menu {
	width: 100%; 
	text-align: center;
	padding-bottom: 10vh;
	background-color: rgba(0, 0, 0, 0.80);

}
.dropdown-menu > li {
	display: inline-block;
}
#landing {
	background:
	linear-gradient(

		rgb(183, 93, 105, 0.80),
		rgba(0, 0, 0, 0.75)
		),

	url(https://images.pexels.com/photos/1419923/pexels-photo-1419923.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
	background-repeat: repeat;
	background-size: cover;
	background-attachment: fixed;
	border-radius: 0px;
/*	padding-top: 24vh;
	padding-bottom: 24vh;*/
	height: 90%;
	width:100%;
}

.imgofme {
	border-radius: 50%;
}
.logo {
	width: 27%;
	height: 17%;

}

.navbar, .footer{
	background-color: #372549;
	box-shadow: 0px 10px 50px black;
	padding-bottom: 1vh;
}

a, i, .fab {
	color: #EACDC2;
}

#gMap {
	height: 100%;
	width: 70%;
}

.modal-content {
	background-color: #372549;
}

.modal-body p {
	text-align: center;
	color: #EACDC2;
	font-size: 5vh;
}

.imgofme {
	width: 70%;
}

.imgofme:hover {
	border: 1px solid #372549;
}

h3, h5 {
	font-family: 'Comfortaa', cursive;
}

#socialmedia  i:hover, a > i:hover, .far:hover {
	color: #B75D69;
}

.btn {
	color: white;
}

.btn-outline-primary {
	background-color: #B75D69;
	border-color: #372549;
}

.slogan:hover {
	color: #EACDC2;
}

.iframe {
	height: 50%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}